#title {
  font-family:fantasy;
  font-size: 50px;
  text-align: center;
}

.color {
  border: black;
  border-style: solid;
  border-width:1px;
  display: inline-block;
  padding: 60px;
  width: 50px;
  height: 50px;
} 
#black {
  background-color: black;
}
#blue {
  background-color: rgba(112, 143, 201, 0.87);
}
#purple {
  background-color: rgba(148, 73, 148, 0.815);
}
#pink {
background-color: rgb(230, 97, 174);
}

#pixel-board{
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 20px;
  height: 200px;
}
.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  border: solid black 1px;
 
  
}
